prometheus.scrape "traefik" {
  targets         = [{"__address__" = "traefik:8080"}]
  forward_to      = [prometheus.remote_write.default.receiver]
  metrics_path    = "/metrics"
  scrape_interval = "30s"
}

prometheus.remote_write "default" {
  endpoint {
    url = "${alloy_remote_write_url}"
    basic_auth {
      username = "${alloy_remote_write_username}"
      password = "${alloy_remote_write_token}"
    }
  }
}

%{ if alloy_loki_write_url != "" ~}
discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "containers" {
  targets = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "service_name"
  }
}

loki.source.docker "containers" {
  host          = "unix:///var/run/docker.sock"
  targets       = discovery.docker.containers.targets
  relabel_rules = discovery.relabel.containers.rules
  forward_to    = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "${alloy_loki_write_url}"
    basic_auth {
      username = "${alloy_loki_write_username}"
      password = "${alloy_loki_write_token}"
    }
  }
}
%{ endif ~}